<h2>Expectations</h2>
<%= @report.expectations %><br/>

<h2>Actual Events</h2>
<%= @report.actual_events %><br/>

<h2>Lessons</h2>
<%= @report.lessons %><br/>

<h2>Next Time</h2>
<%= @report.next_time %><br/>

<p><%= link_to "Edit Report",  edit_report_path(@report) %></p>

<p><%= link_to "Delete Report", report_path(@report),
                  method: :delete,
                  data: { confirm: "Delete Report? This cannot be undone" } %></p>